.products-container {
  display: flex;
  min-width: 1000px;
  max-width: 1338px;
  flex-wrap: wrap;
}

.img-div {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product {
  margin: 20px;
  border: 1px solid #6a6a6a;
  border-radius: 20px;
}

.product-details {
  height: 235px;
  background-color: #0b1426;
  color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.product-details > p,
button {
  margin: 10px;
}
