.products-container {
  display: flex;
  min-width: 1000px;
  max-width: 1338px;
  flex-wrap: wrap;
}

.product-img {
  width: fit-content;
  max-width: 600px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product {
  margin: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
}
