.checkout-header {
  display: flex;
}

.checkout-header > h1 {
  display: flex;
  flex: 1;
}

.cart-cont {
  width: 50rem;
  padding: 1rem;
}

.cart-image {
  max-height: 7rem;
  max-width: 7rem;
  width: auto;
  border: 1px solid black;
}

.single-product-cont {
  border: solid 2px black;
  margin: 1rem;
  display: flex;
  padding: 1rem;
  width: 10rem;
  align-items: center;
}

.order-info-cont {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500rem;
}

.quantity-cont {
  display: flex;
  justify-content: space-around;
}

.total-cont {
  display: flex;
  justify-content: end;
}

.link-to-checkout-cont {
  display: flex;
  justify-content: end;
}

.Form {
  animation: fade 20ms ease-out;
}

.field {
  border: 1px solid black;
  border-radius: 3px;
}

.FormGroup {
  /* margin: 0 15px 20px; */
  padding: 0;
  border-style: none;
  /* background-color: #61c5fa; */
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #0b1426;
  /* border-radius: 10px; */
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FormGroup1 > input {
  margin: 5px 0px;
  border: 1px solid;
  border-radius: 3px;
}

.checkout-cont {
  display: flex;
  border: 1px solid black;
  width: 18rem;
  align-items: center;
  background-color: #61c5fa;
  border-radius: 3px;
}

.total-cont > div {
  border: 1px dash black;
  display: flex;
  width: 17rem;
  align-items: center;
  border-radius: 3px;
}

.order-info-cont {
  /* border: 1px solid black; */
  max-width: 10rem;
  border-radius: 3px;
}

.single-product-check-cont {
  border: 1px solid black;
  display: flex;
  max-width: 18rem;
  border-radius: 3px;
  background-color: #61c5fa;
}

.firstTwo {
  display: flex;
  align-items: center;
}
