.cart-cont {
  width: 50rem;
  padding: 1rem;
}

.cart-image {
  height: 7rem;
  width: 10rem;
}

.single-product-cont {
  border: solid 2px black;
  margin: 1rem;
  display: flex;
  padding: 1rem;
}

.order-info-cont {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30rem;
}

.quantity-cont {
  display: flex;
  justify-content: space-around;
}

.checkout-cont {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.total-cont {
  display: flex;
  justify-content: end;
}

.link-to-checkout-cont {
  display: flex;
  justify-content: end;
}

.Form {
  animation: fade 200ms ease-out;
}

.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #61c5fa;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #0b1426;
  border-radius: 10px;
  border: 1px solid;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.FormGroup1 > input {
  margin: 5px 0px;
  border: 1px solid;
}
