#login_popup_page {
  background-color: rgb(255, 255, 255);
  display: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 600px;
  position: absolute;
  height: 50vh;
  width: 50vw;
  max-width: 800px;
  min-width: 600px;
  max-height: 800px;
  position: fixed;
  min-height: 600px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #000000;
}

.form-cont-login,
.login-cont {
  display: flex;
  flex-direction: column;
}
